---
BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 6
Cpp11BracedListStyle: true
DerivePointerAlignment: false
SortIncludes: true
IndentPPDirectives: BeforeHash
IncludeBlocks: Preserve
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
# AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
---
